.online{
	color: white;
	background: limegreen;
	text-align: center;
	border: 1px solid white;

}

.idle{
	background: rgb(180, 175, 0);
	color: white;
	text-align: center;
	border: 1px solid white;

}

.unavailable {
	background: red;
	color: white;
	text-align: center;
	border: 1px solid white;
}

.modified{
	border-radius: 5px !important;
	border: 1px solid !important;
	border-color: #CDCDCD !important;
}

span.notification {
	color: #4D4D4D;
}

.groupButton {
	float: right;
}

.groupHeading {
	color: #4D4D4D;
}