/*.panel {*/
    /*height: 10%;*/
/*}*/

body {
    height: 100%;
    width: 350px;
}

#title, #yourStatus {
    text-align: center;
}


hr.styled {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.styled:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}